language:
  python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev"
  - "nightly"

env:
  - DJANGO="https://github.com/django/django/archive/master.tar.gz"
  - DJANGO="django>=1.9.0,<1.10.0"
  - DJANGO="django>=1.8.0,<1.9.0"
  - DJANGO="django>=1.7.0,<1.8.0"
  - DJANGO="django>=1.6.0,<1.7.0"
  - DJANGO="django>=1.5.0,<1.6.0"
  - DJANGO="django>=1.4.0,<1.5.0"

install:
  - travis_retry pip install $DJANGO
  - travis_retry pip install pytz
  - travis_retry pip install coverage==3.7.1  # required by python 3.2
  - travis_retry pip install coveralls
  - travis_retry pip install django-discover-runner

script:
  - coverage run --source=timezone_utils run_tests.py
  - coverage report

after_success: coveralls

notifications:
  email: false

matrix:
  exclude:
    - python: "3.2"
      env: DJANGO="django>=1.4.0,<1.5.0"
    - python: "3.2"
      env: DJANGO="django>=1.9.0,<1.10.0"
    - python: "3.3"
      env: DJANGO="django>=1.4.0,<1.5.0"
    - python: "3.3"
      env: DJANGO="django>=1.9.0,<1.10.0"
    - python: "3.4"
      env: DJANGO="django>=1.4.0,<1.5.0"
    - python: "3.5"
      env: DJANGO="django>=1.4.0,<1.5.0"
    - python: "3.5"
      env: DJANGO="django>=1.5.0,<1.6.0"
    - python: "3.5"
      env: DJANGO="django>=1.6.0,<1.7.0"
    - python: "3.5"
      env: DJANGO="django>=1.7.0,<1.8.0"
#    - python: "pypy"
#      env: DJANGO="django>=1.4.0,<1.5.0"
#    - python: "pypy3"
#      env: DJANGO="django>=1.4.0,<1.5.0"
    - python: "2.6"
      env: DJANGO="django>=1.7.0,<1.8.0"
    - python: "2.6"
      env: DJANGO="django>=1.8.0,<1.9.0"
    - python: "2.6"
      env: DJANGO="django>=1.9.0,<1.10.0"
    - python: "2.6"
      env: DJANGO="https://github.com/django/django/archive/master.tar.gz"
    - python: "2.6"
      env: DJANGO="https://github.com/django/django/archive/master.tar.gz"
  allow_failures:
    - env: DJANGO="https://github.com/django/django/archive/master.tar.gz"
    - python: "3.5-dev"
    - python: "nightly"
  fast_finish: true
